/* //////////////// DIZAJN SISTEM ////////////////*/

/* font import  */

/* IBM PLEX SANS  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* MANROPE */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {

    /*////// variabli za boja ////// */

    /* sivi  */
    --crna: rgb(4, 6, 7);
    --siva-7: rgb(8, 10, 10);
    --siva-6: rgb(11, 13, 14);
    --siva-5: rgb(15, 16, 17);
    --siva-4: rgb(18, 20, 20);
    --siva-3: rgb(48, 53, 54);
    --siva-2: rgb(78, 85, 88);
    --siva-1: rgb(109, 118, 121);
    --siva0: rgb(139, 150, 155);
    --siva1: rgb(156, 169, 173);
    --siva2: rgb(173, 187, 192);
    --siva3: rgb(190, 206, 211);
    --siva4: rgb(207, 224, 229);
    --siva5: rgb(216, 231, 236);
    --siva6: rgb(225, 238, 242);
    --siva7: rgb(234, 245, 249);
    --siva8: rgb(243, 252, 255);
    --bela: rgb(248, 253, 255);

    /* primarna  */
    --primarna-8: rgb(0, 19, 40);
    --primarna-7: rgb(0, 30, 60);
    --primarna-6: rgb(0, 42, 80);
    --primarna-5: rgb(0, 53, 99);
    --primarna-4: rgb(0, 65, 119);
    --primarna-3: rgb(0, 86, 144);
    --primarna-2: rgb(0, 107, 169);
    --primarna-1: rgb(0, 128, 193);
    --primarna0: rgb(0, 149, 218);
    --primarna1: rgb(35, 164, 223);
    --primarna2: rgb(70, 179, 228);
    --primarna3: rgb(104, 194, 234);
    --primarna4: rgb(139, 209, 239);
    --primarna5: rgb(157, 218, 243);
    --primarna6: rgb(176, 227, 247);
    --primarna7: rgb(194, 235, 251);
    --primarna8: rgb(212, 244, 255);


    /* sekundarna  */
    --sekundarna-8: rgb(45, 11, 3);
    --sekundarna-7: rgb(59, 17, 7);
    --sekundarna-6: rgb(72, 24, 10);
    --sekundarna-5: rgb(86, 30, 14);
    --sekundarna-4: rgb(99, 36, 17);
    --sekundarna-3: rgb(138, 53, 26);
    --sekundarna-2: rgb(177, 70, 34);
    --sekundarna-1: rgb(217, 87, 43);
    --sekundarna0: rgb(255, 104, 51);
    --sekundarna1: rgb(253, 115, 67);
    --sekundarna2: rgb(251, 126, 84);
    --sekundarna3: rgb(249, 136, 100);
    --sekundarna4: rgb(247, 147, 116);
    --sekundarna5: rgb(249, 162, 136);
    --sekundarna6: rgb(251, 177, 155);
    --sekundarna7: rgb(253, 192, 175);
    --sekundarna8: rgb(255, 207, 194);

    /* /// alerts /// */
    /* zholta  */
    --zholta-8: rgb(38, 32, 0);
    --zholta-4: rgb(96, 81, 0);
    --zholta0: rgb(204, 174, 0);
    --zholta4: rgb(207, 187, 107);
    --zholta8: rgb(255, 241, 190);

    /* zelena */
    --zelena-8: rgb(2, 13, 1);
    --zelena-4: rgb(7, 51, 5);
    --zelena0: rgb(20, 161, 16);
    --zelena4: rgb(143, 194, 140);
    --zelena8: rgb(209, 237, 206);

    /* crvena  */
    --crvena-8: rgb(28, 3, 3);
    --crvena-4: rgb(89, 12, 12);
    --crvena0: rgb(219, 24, 20);
    --crvena4: rgb(226, 82, 82);
    --crvena8: rgb(255, 222, 222);


    /* ///////// FONTS ///////// */
    --body-font: "Manrope", Arial, Helvetica, sans-serif;
    --heading-font: "IBM Plex Sans", Arial, Helvetica, sans-serif;


    /* font size  */
    /* --font-size: clamp(0.5rem, 3.5vw, 1rem); */

    /* spacings  */

    --space34px: 34px;
    --space28px: 28px;
    --space22px: 22px;
    --space18px: 18px;
    --space12px: 12px;
    --space8px: 8px;
    --space4px: 4px;

    /* padding levo-desno */
    --padding-lr: 12%;

    --padding-tb-s: 20px;
    --padding-tb: 40px;
    --padding-tb-xl: 80px;
    --padding-tb-xxl: 120px;


    /* ridges  */

    --ridge-height: 44px;
}

@media screen and (max-width: 1600px) {
    :root {
        /* padding levo-desno */
        --padding-lr: 6%;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --ridge-height: 30px;
    }
}



@media screen and (max-width: 600px) {
    :root {
        /* padding levo-desno */
        --padding-lr: 16px;
    }
}


/* ////////// alternate box model /////////  */
html,
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-wrap: pretty;
    scroll-behavior: smooth;
}


*,
::before,
::after {
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

/* img width */
img {
    width: 100%;
}



/* ////////// paddings //////////// */
.padding-lr {
    padding-left: var(--padding-lr);
    padding-right: var(--padding-lr);
}

.padding-tb-s {
    padding-top: var(--padding-tb-s);
    padding-bottom: var(--padding-tb-s);
}

.padding-tb {
    padding-top: var(--padding-tb);
    padding-bottom: var(--padding-tb);
}

.padding {
    padding: var(--padding-tb) var(--padding-lr);
}


/* /////// TEXT STYLES /////// */

/* defaults  */

html {
    font-family: var(--body-font);
    line-height: 1.6;
    font-optical-sizing: auto;
}

.heading {
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: 1.15;
    /* letter-spacing: -0.02em; */
}

@media screen and (max-width: 900px) {

    html {
        font-size: 80%;
    }
}


/* headings  */

.h1-size {
    font-size: 2.986rem;
}

.h2-size {
    font-size: 2.488rem;
}

.h3-size {
    font-size: 2.074rem;
}

.h4-size {
    font-size: 1.728rem;
}

.h5-size {
    font-size: 1.44rem;
}

.h6-size {
    font-size: 1.2rem;
}

/* small  */

.small {
    font-size: 0.833rem;
}

.small-xs {
    font-size: 0.694rem;
}


/* /////// buttons //////// */

.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;

    border-radius: 9999999px;

    cursor: pointer;
    user-select: none;
    text-decoration: none;

    /* text-transform: uppercase; */
    font-weight: 600;

    transition: 0.1s;


    color: var(--bela);
    background-color: var(--primarna0);

    padding: 8px 28px;
    margin-right: 2rem;

    >.btn-ico {
        height: 1rem;
        transition: 0.3s ease;

        .st0 {
            stroke: var(--bela);
            stroke-width: 2.5px;
        }

        .st1 {
            fill: var(--bela);
        }
    }

    >.btn-ico-s {
        height: 0.4rem !important;
    }

    &:hover {
        background-color: var(--sekundarna0);
    }

    &:active {
        background-color: var(--sekundarna-2);
    }
}

.btn-s {
    padding: 6px 22px;
}

/* links default */

a {
    color: unset;
    text-decoration: none;
}

/* link btn */

.btn-link {
    background-color: unset;
    position: relative;
    padding: 0px;

    &:after {
        content: "";
        background-color: var(--bela);
        width: 0%;
        transition: 0.3s ease;
        height: 2px;
        position: absolute;
        bottom: 0;
    }

    &:hover {
        background-color: inherit;
        color: var(--primarna4);

        .btn-ico {
            .st0 {
                stroke: var(--primarna4);
            }
        }

        &:after {
            background-color: var(--primarna4);
            width: 100%;
        }
    }

    &:active {
        color: var(--primarna0);

        .btn-ico {
            .st0 {
                stroke: var(--primarna0);
            }
        }

        &:after {
            background-color: var(--primarna0);
        }
    }
}


/* /////  plavo  ////// */


.btn-link-blue {
    color: var(--primarna-2);

    .btn-ico {
        .st0 {
            stroke: var(--primarna-2);
        }

        .st1 {
            fill: var(--primarna-2);
        }
    }

    &:after {
        background-color: var(--primarna-2);
    }

    /* hover +  current  */

    &:hover,
    &.link-current {
        color: var(--sekundarna0);

        .btn-ico {
            .st0 {
                stroke: var(--sekundarna0);
            }

            .st1 {
                fill: var(--sekundarna0);
            }
        }

        &:after {
            background-color: var(--sekundarna0);
        }

    }

    &:active {
        color: var(--sekundarna-4);

        .btn-ico {
            .st0 {
                stroke: var(--sekundarna-4);
            }

            .st1 {
                fill: var(--sekundarna-4);
            }
        }

        &:after {
            background-color: var(--sekundarna-4);
        }

    }
}



/* /////// btn orange ////// */

.btn-orange {
    background-color: var(--sekundarna0);

    &:hover {
        background-color: var(--sekundarna-1);
    }

    &:active {
        background-color: var(--sekundarna-2);
    }
}
