/* variabli za boja */
:root {
    --orange: #ff6536;

    --white: #efefef;
    --grey: #a3a3a3;

    --bg1: #1a2428;
    --bg2: #161e22;
    --bg3: #12181b;

    --black: #0b0f11;


    /* za animacija  */

    --custom-x: 10px;
    --custom-y: 10px;
    --custom-sx: 100%;
    --custom-sy: 100%;
    --custom-r: 50deg;


    /* font size  */

    --font-size: clamp(0.5rem, 3.5vw, 1rem);

    /* padding levo-desno */
    --padding-lr: 12%;
    --padding-up-down: 4em;
}


/* alternate box model  */
html,
body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

*,
::before,
::after {
    box-sizing: inherit;
}

/* img width */
img{
    width: 100%;
}


/* ///////////////////// NAVBAR //////////////////////////// */

nav {
    position: absolute;
    top: 0;
    z-index: 90;

    width: 100%;
    height: 70px;

    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);

    /*  */
    padding: 0 var(--padding-lr);

}

/* logo  */
.logo-nav{
    width: 200px;
}


/* ///////////////////// HEADER //////////////////////////// */

.hero {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;

    /* PADDING */
    padding: 0px 20px;


    /* /// */
    display: flex;
    gap: 20px;

}

/* vid bg  */

#hero-vid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*  */
    object-fit: cover;
    width: 100%;
    height: 100%;
    /*  */
    user-select: none;
}


.txt-container {
    width: 100%;
    opacity: 10%;
}


/* head video container  */


#head-container {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: visible;

    /* // */
    user-select: none;
    pointer-events: none;
    /* Prevents interference */
}

/* video-head main-defaults */

.head-vid {
    width: auto; /* Let the width adjust automatically */
    height: 100%; /* Always match the container height */

    max-width: 100%; /* Prevent it from overflowing */
    object-fit: contain; /* Ensures full visibility without cropping */
    object-fit: cover;

    /* Positioning */
    position: absolute;
    bottom: 0;

    /* Smooth visibility transition */
    opacity: 0;
    /* transition: opacity 0.2s ease-in-out; */

    /* Prevent interaction */
    user-select: none;
    pointer-events: none;

    /*  */
    padding-top: 70px;
}

#idle {
    opacity: 1;
    /* Idle animation is visible by default */
}